-f https://download.pytorch.org/whl/torch_stable.html
-f https://dl.fbaipublicfiles.com/detectron2/wheels/cu110/torch1.7/index.html

torch==1.11.0
torchvision==0.12.0
path
opencv-python
git+https://github.com/pytorch/fairseq.git
natsort
timm==0.4.5
nltk
h5py
sentencepiece
scipy==1.3.1
fastwer
tensorflow==1.15
sklearn
seaborn
flask
flask_bootstrap
boto3
smart_open
